<h2>Nova Ocorrência do Veículo {{placa}}</h2>

<form class="formNovoOcorrencia">
  <mat-form-field>
    <input matInput name="placaVeiculo" type="text" placeholder="Placa do Veículo" [(ngModel)]="ocorrencia.placaVeiculo" [disabled]="paginaAnterior === 'listaOcorrencia'">
  </mat-form-field>

  <mat-form-field>
    <input matInput name="data" type="date" placeholder="Data da Ocorrencia" [(ngModel)]="ocorrencia.data">
  </mat-form-field>

  <mat-form-field>
    <input matInput name="hora" type="time" placeholder="Hora da Ocorrencia" [(ngModel)]="ocorrencia.hora">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput name="descricao" placeholder="Descrição da Ocorrencia" [(ngModel)]="ocorrencia.descricao"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select name="TipoOcorrencia" placeholder="Tipo de Ocorrencia" [(ngModel)]="ocorrencia.tipoOcorrencia" >
      <mat-option *ngFor="let tipoOcorrencia of tiposOcorrencias" [value]="tipoOcorrencia">
        {{tipoOcorrencia.nome}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</form>

<button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
<button mat-raised-button color="warn" (click)="limparCampos()">Resetar</button>
<button mat-raised-button (click)="voltar()">Voltar</button>