.titulo {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    text-align: center;
    font-weight: bold;
}

table {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    border: 10px;
}

.id {
    margin: 10px;
}

.descricao {
    margin: 30px;
}