.titulo {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    text-align: center;
    font-weight: bold;
}

table {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    border: 10px;
}

.ra {
    margin: 60px;
}

.nome {
    margin: 60px;
}

.rg {
    margin: 40px;
}

.cpf {
    margin: 40px;
}