.titulo {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    text-align: center;
    font-weight: bold;
}

table {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    border: 10px;
}

.placa {
    margin: 30px;
}

.data {
    margin: 15px;
}

.hora {
    margin: 35px;
}

.descricao {
    margin: 40px;
}

.espacamento {
    margin-top: 10px;
    margin-bottom: 10px;
}