<div id="listaOcorrencia">
  
  <mat-nav-list class="lista">
    <a mat-list-item *ngFor="let ocorrencia of ocorrencias" [routerLink]="['/ocorrencia/editar', ocorrencia.placaVeiculo, ocorrencia.data, ocorrencia.hora]"> {{ocorrencia.placaVeiculo}} {{ocorrencia.data}} {{ocorrencia.hora}} {{ocorrencia.descricao}}</a>
  </mat-nav-list>

  <p *ngIf="listaVazia">Nenhuma Ocorencia Cadastrada</p>
  
  <button mat-raised-button color="primary" [routerLink]="['/ocorrencia/novo', placa]">Nova Ocorrencia</button>
  <button mat-raised-button [routerLink]="['/ocorrencia/listaVeiculos']">Voltar</button>
  
  </div>