<mat-toolbar color="primary">
    <span class="espacador">TG Frontend</span>
    <button mat-raised-button class="espacador" color="accent" routerLink="/aluno/lista">Alunos</button>
    <button mat-raised-button class="espacador" color="accent" routerLink="/veiculo/lista">Veiculos</button>
    <button mat-raised-button class="espacador" color="accent" routerLink="/ocorrencia/listaOcorrencia">Ocorrencias</button>
    <button mat-raised-button class="espacador" color="accent" routerLink="/tipoOcorrencia/lista">Tipos de Ocorrencias</button>
    <button mat-raised-button class="espacador" color="accent" routerLink="/curso/lista">Cursos</button>
</mat-toolbar>

<router-outlet></router-outlet>