.titulo {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    text-align: center;
    font-weight: bold;
}

table {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    border: 10px;
}

.placa {
    margin: 30px;
}

.modelo {
    margin: 30px;
}

.raAluno {
    margin: 30px;
}