<div id="listaVeiculos">

  <h2>Lista de Veículos</h2>

  <mat-form-field>
    <input matInput [textMask]="{mask: placa}" guide name="filtro" type="text" placeholder="Filtro" [(ngModel)]="filtroPlaca">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="filtrarVeiculo()">Filtar Veiculo</button>
  <button mat-raised-button color="warn" (click)="resetarFiltro()">Resetar Filtro</button>
    
  <div class="titulo">
    <span class="placa">Placa</span>
    <span class="modelo">Modelo</span>
    <span class="raAluno">RA do Aluno</span>
  </div>
  
  <mat-nav-list class="lista">
    <a mat-list-item *ngFor="let veiculo of veiculos" [routerLink]="['/veiculo/editar', veiculo.placa]"> {{veiculo.placa}} | {{veiculo.modelo}} | {{veiculo.raAluno}}</a>
  </mat-nav-list>
  
  <button mat-raised-button color="primary" routerLink="/veiculo/novo">Novo Veiculo</button>
  
  </div>